.header {
	background-color: #222222;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 70px;
	@include shadow;
	&__title {
		color: white;
		font-weight: bold;
		font-size: 30px;
		margin: 10px 0;
	}
}
